.content-wrapper {
	margin: 2rem 1rem 1rem 1rem;
}
.forget-password {
	margin-top: 2rem;
	margin-bottom: 2.5rem;
	background: none;
	border: none;
}

.align-right {
	text-align: right;
	border: 0;
  }

.Link {
	color: var(--neutral-neutral-700, #344054);
}

.Center {
	text-align: center;
}

div > p {
	color: var(--neutral-neutral-500, #667185);
}

h1 {
	margin-bottom: 0.5rem;
}

form {
	margin-top: 2.5rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.flex-wrapper_bottom {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.btn,
#google-button,
input {
	width: 100%;
}
