#login-main .content-wrapper {
  margin-top: 60px;
  padding: 2rem 1rem 3rem 1rem;
}

#login-main .forget-password {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  background: none;
  border: none;
}

#login-main .align-right {
  text-align: right;
  border: 0;
}

#login-main h1 {
  margin-bottom: 0.5rem;
}

#login-main form {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#login-main .flex-wrapper__bottom {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

#login-main .btn,
#login-main #google-button,
#login-main input {
  width: 100%;
}

#login-main .btn-primary {
  justify-content: center;
}
