#login-main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
}

#login-main .content-wrapper {
  margin-top: 60px;
  padding: 2rem 1rem 3rem 1rem;
}

#login-main .forget-password {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  background: none;
  border: none;
}

#login-main .align-right {
  text-align: right;
  border: 0;
}

#login-main h1 {
  margin-bottom: 0.5rem;
}

#login-main form {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#login-main .flex-wrapper__bottom {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

#login-main .btn,
#login-main #google-button,
#login-main input {
  width: 100%;
}

#login-main .btn-primary {
  justify-content: center;
}

#login-main .full-signup .content-image {
  display: none;
}

@media screen and (min-width: 768px) {
  #login-main .full-signup .content-image {
    display: block;
  }

  main {
    padding-left: 0;
    padding-right: 0;
  }

  .full-signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    max-width: 100%;
    min-height: 100vh;
  }

  #login-main .content-wrapper {
    padding: 20px;
    width: 411px;
    margin: auto;
  }

  /* #login-main .content-image {
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    background: var(--secondary-100, #F3F8F6); 
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  #login-main .content-image img {
    height: 685px;
    padding-top: 6.12rem;
    padding-bottom: 7.5rem;
    padding-left: 8.62rem;
  } */

  #login-main .content-image {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    background: var(--secondary-100, #F3F8F6); 
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  #login-main .content-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    padding-left: 17.24rem;
  }
  
}