#hazard-category label {
  padding: 0.3125rem 0.625rem;
  cursor: pointer;
  display: inline-block;
  border: 0.0625rem solid var(--neutral-300);
  background: var(--neutral-50);
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}

#hazard-category input[type='radio']:checked + label {
  border: 0.0625rem solid var(--neutral-100);
  background: var(--secondary-500);
}

#hazard-category-content-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}

  .category-icon{  
  width: 2.5rem;
  height: 2.5rem;
}

.category-container .text-container {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  margin-left: 1rem;
  gap: 0.5rem;
}

.category-container .title-hazard {
  color: var(--primary-500);
}

.category-container .description-hazard {
  color: var(--primary-400);
}

.category-container .orange-check-icon {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
}

@media screen and (min-width: 768px) {
  #hazard-category-content-list {
    display: grid;
    grid-template-columns: repeat(2, 0.6fr);
    row-gap: 1.44rem;
    column-gap: 1.56rem;
  }
}
