#report-hazard-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#report-hazard-body input[type='radio'] {
  display: none;
}

/* hide scrollbar but allow scrolling */
#hazard-category-content,
.scroll-container {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
/* for Chrome, Safari, and Opera */
#hazard-category-content::-webkit-scrollbar,
.scroll-container::-webkit-scrollbar {
  display: none;
}

#report-hazard-body header {
  display: none;
}

#report-hazard-body .page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#report-hazard-body .section-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#report-hazard-body .continue-btn {
  width: 100%;
  height: fit-content;
}

#report-hazard-body .breadbrumb-desktop {
  padding-top: 1rem;
  margin-left: var(--padding-x);
  margin-right: var(--padding-x);
}

#reportHazardForm {
  overflow: auto;
  flex: 1;
  padding-top: 1rem;
}

#reportHazardForm .padded {
  margin-left: var(--padding-x);
  margin-right: var(--padding-x);
}

#reportHazardForm h1 {
  margin: 0;
}

#mobileNavMenu {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;

  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--neutral-300);
}

#mobileNavMenu button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  color: var(--neutral-500);
  padding: 0;

  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#mobileNavMenu i[class^='icon-'] {
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--neutral-500);
}

#continueBtnContainer {
  display: flex;
  align-items: center;
  padding: 1rem var(--padding-x);
}

#continueBtnContainer .buttons {
  display: flex;
  align-items: end;
  gap: 1.5rem;
  width: 100%;
}

#desktopBackButton {
  display: none;
}

@media screen and (min-width: 768px) {
  #report-hazard-body header {
    display: block;
  }

  #report-hazard-body .continue-btn {
    width: 15.5rem;
  }

  #mobileNavMenu {
    display: none;
  }

  #desktopBackButton {
    display: flex;
    background-color: var(--white);
    border-color: var(--neutral-400);
    color: var(--neutral-500);
    height: 3.5rem;
  }

  #desktopBackButton:hover {
    border-color: var(--neutral-800);
    color: var(--neutral-800);
  }
}
