#hazard-option-content {
  display: flex;
  flex-wrap: wrap;
}

#hazard-option-content .div-input {
  flex-shrink: 0;
}

#hazard-option-content label {
  padding: 5px 10px;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  border-radius: 100px;
  border: 1px solid var(--neutral-300);
  background: var(--neutral-50);
}

#hazard-option-content input[type='radio']:checked + label {
  border-radius: 100px;
  border: 1px solid var(--neutral-100);
  background: var(--secondary-500);
}

#hazard-option-content .container-type {
  display: flex;
  gap: 0.2rem;
  padding: 0.625rem;
}

#hazard-option-content .checkmark {
  padding-right: 2px;
  display: flex;
  align-items: center;
}

#hazard-option-content .text-type {
  display: flex;
  align-items: center;
}

#hazard-option-content .category-icon-type {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}
