#dragAndDropArea,
.custom-file-upload2 {
  border: dashed;
}

.custom-file-upload {
  border: solid;
}

.main-div-TakePic,
.main-div-drag-drop-Pic {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.custom-file-upload,
.custom-file-upload2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  border: 0.0625rem solid var(--neutral-300);
}

.camera-icon img,
.plus-icon img {
  color: --neutral-900;
  width: 1.5625rem;
  height: 1.5rem;
  margin-bottom: 1.25rem;
}

.custom-file-upload .main-title {
  margin-bottom: 0.5rem;
}

.hide-picture-1 img,
.hide-picture-2 img,
.hide-picture-3 img {
  color: var(--neutral-500);
  width: 1.5625rem;
  height: 1.5rem;
}

.hide-picture-1,
.hide-picture-2,
.hide-picture-3 {
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--neutral-300);
  background: var(--primary-50);
}

#displayImagesArea {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem;
}

.picture-1,
.picture-2,
.picture-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.3125rem;
  height: 5.25rem;
}

.hide-picture-1,
.hide-picture-2,
.hide-picture-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.hide-picture-1 img,
.hide-picture-2 img,
.hide-picture-3 img {
  max-width: 100%;
  max-height: 100%;
}

#dragAndDropArea,
.custom-file-upload2 {
  border-radius: 1rem;
  border: 1px dashed var(--neutral-300);
}

#upload-photos .scroll-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.picture-1,
.picture-2,
.picture-3 {
  position: relative;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
}

.picture-1 > img,
.picture-2 > img,
.picture-3 > img {
  border-radius: 0.5rem;
  border: 1px solid var(--neutral-300);
}
