#select-location .scroll-container {
  height: calc(100vh - 280px);
  overflow-y: auto;
}

#report-hazard-body #map {
  height: 100%;
  width: 100%;
}

.select-location-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.select-location-content {
  border-radius: 1rem;
  border: 1px solid var(--neutral-300);
  height: 80%;
}

.select-location-content__header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.select-location-content__header__location {
  display: flex;
  gap: 0.5rem;
}

#map,
.leaflet-control-attribution {
  border-radius: 0 0 1rem 1rem;
}

@media screen and (min-width: 768px) {
  #fullNavMenu {
    display: none;
  }

  #map {
    min-height: 300px;
  }
}
