/* loading animation */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: ' ';
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #243832;
  border-color: #f56630 transparent #243832 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.loader {
  background: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  clip-path: circle(150% at 100% 0);
  transition: clip-path 1.9s ease-in-out;
}
.loader2 {
  clip-path: circle(0% at 100% 100%);
}
/* end loading animation */

#map {
  height: 400px;
  width: 100%;
}

#dragAndDropArea,
.custom-file-upload2 {
  border: dashed;
}

.custom-file-upload {
  border: solid;
}

/* /For easy testing on a mobile browser, this property is temporary */

#imagesFirstOutput2 > img {
  display: grid;
  grid-template-columns: 1fr;
}

img {
  width: 10%;
  height: auto;
}

.breadbrumb-desktop {
  display: none;
}

@media screen and (min-width: 800px) {
  .breadbrumb-desktop {
    display: block;
  }
  .back-button-mobile {
    display: none;
  }
}
