@import url('../../assets/css/white-transition.css');

@import url('./location.css');
@import url('./category.css');
@import url('./hazard-option.css');
@import url('./comment.css');
@import url('./images.css');
@import url('./submit.css');

/* Header */
#report-hazard-body main {
  height: 100%;
  padding: 0;
  overflow: hidden;
}

#report-hazard-body header {
  display: none;
}

#report-hazard-body .page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: calc(100% - 80px);
}

#report-hazard-body .scroll-container {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

.breadbrumb-desktop {
  display: none;
}

#reportHazardForm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#reportHazardForm .padded {
  margin-left: var(--padding-x);
  margin-right: var(--padding-x);
}

#reportHazardForm h1 {
  font-size: 1.5rem;
  margin: 0;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

/* Back button */
#backButton {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  color: var(--neutral-500);
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.divider {
  width: 100%;
  border-bottom: 1px solid var(--neutral-300);
}

.back-arrow {
  height: 1.25rem;
  width: 1.25rem;
  padding: 0;
  margin-right: 0.5rem;
}

input[type='radio'] {
  display: none;
}

@media screen and (min-width: 768px) {
  #report-hazard-body main {
    overflow: auto;
  }

  .breadbrumb-desktop {
    display: block;
  }

  .continue-btn {
    width: 15.5rem;
  }

  #reportHazardForm h1 {
    font-size: 2.8125rem;
    margin: 0;
  }

  #reportHazardForm {
    margin-top: 3.5rem;
  }

  .divider {
    display: none;
  }

  #backButton {
    display: none;
  }

  header {
    display: block;
  }
}
