@import url('../../assets/css/white-transition.css');

@import url('./general.css');
@import url('./breadcrumb.css');

@import url('./location.css');
@import url('./category.css');
@import url('./hazard-option.css');
@import url('./comment.css');
@import url('./images.css');
@import url('./submit.css');
