#map {
	height: 400px;
	width: 100%;
}

#dragAndDropArea,
.custom-file-upload2 {
	border: dashed;
}

.custom-file-upload {
	border: solid;
}

/* /For easy testing on a mobile browser, this property is temporary */

#imagesFirstOutput2 > img {
	display: grid;
	grid-template-columns: 1fr;
}

img {
	width: 10%;
	height: auto;
}

.desktop{
	display: none;
}

@media screen and (min-width: 800px){
	.desktop{
		display: block;
	}
	.mobile{
		display: none;
	}
}