#signup-main .content-wrapper {
  margin-top: 60px;
  padding: 2rem 1rem 3rem 1rem;
}

#signup-main h1 {
  margin-bottom: 2rem;
}

#signup-main form {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#signup-main .flex-wrapper__bottom {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

#signup-main .btn,
#signup-main #google-button,
#signup-main input {
  width: 100%;
}

#signup-main .btn-primary {
  justify-content: center;
}

#signup-main .content-image{
  display: none;
}

@media screen and (min-width: 768px) {

main{
  padding-left: 0;
  padding-right: 0;
}

.full-signup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  max-width: 100%;
  max-height: 100%;
  
}

.content-wrapper {
  padding: 20px;
  width: 411px;
  margin: auto;
}

.content-image {
  display: flex;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  background: var(--secondary-100, #F3F8F6); 
  overflow:hidden;
  margin: 0;
  padding: 0;
}

.content-image img {
  height: 685px;
  padding-top: 6.12rem;
  padding-bottom: 7.5rem;
  padding-left: 8.62rem;
}
}