#signup-main .content-wrapper {
  margin-top: 60px;
  padding: 2rem 1rem 3rem 1rem;
}

#signup-main h1 {
  margin-bottom: 2rem;
}

#signup-main form {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#signup-main .flex-wrapper__bottom {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

#signup-main .btn,
#signup-main #google-button,
#signup-main input {
  width: 100%;
}

#signup-main .btn-primary {
  justify-content: center;
}
