@import url(./_fonts.css);
@import url(./_variables.css);
@import url(./_typography.css);

@import url(./button.css);
@import url(./input.css);

@import url(./alert-popup.css);
@import url(./modal.css);
@import url(./report-card.css);
@import url(./toggle-switch.css);

:root {
	font-size: var(--font-size-base);
	width: 100%;
	height: 100%;
}

* {
	font-family: 'Instrument Sans', sans-serif;
}

body {
	width: 100%;
	height: 100%;
	color: var(--neutral-900);
	margin: 0;
}

a[class='link'] {
	font-weight: 700;
	color: var(--neutral-700);
}

i[class^='icon-'] {
	width: 20px;
	height: 20px;
	background-color: var(--neutral-900);
}

.hidden {
	display: none !important;
}

.pointer {
	cursor: pointer;
}

.text-center {
	text-align: center;
}
