@import url(./_fonts.css);
@import url(./_variables.css);
@import url(./_typography.css);

@import url(./button.css);
@import url(./input.css);

@import url(./alert-popup.css);

:root {
	font-size: var(--font-size-base);
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Instrument Sans', sans-serif;
	color: var(--neutral-900);
	margin: 0;
}

.hidden {
	display: none !important;
}
