@import url(./_fonts.css);
@import url(./_variables.css);
@import url(./_typography.css);

@import url(./icon.css); /* Default icon styles first so the next imports have priority */

@import url(./button.css);
@import url(./input.css);
@import url(./badge.css);
@import url(./checkbox.css);

@import url(./header.css);

@import url(./alert-popup.css);
@import url(./modal.css);
@import url(./report-card.css);
@import url(./hazard-detail-card.css);
@import url(./toggle-switch.css);

:root {
  font-size: var(--font-size-base);
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Instrument Sans', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  color: var(--neutral-900);
  margin: 0;
  overflow: hidden;
}

main {
  overflow-y: auto;
  height: calc(100vh - 60px);
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
}

#root {
  height: 100vh;
}

a[class='link'] {
  font-weight: 700;
  color: var(--neutral-700);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hidden {
  display: none !important;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}
