#alert-portal {
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  right: 0;
  left: var(--padding-x);
}

#alert-portal.bottom_center {
  top: unset;
  bottom: 0;
  left: 0;
  right: 0;
}

#alert {
  background: gray;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  font-weight: 500;
  z-index: 5;

  position: absolute;
  top: 4.5rem;
  right: 0;
  left: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

#alert-portal.bottom_center #alert {
  top: unset;
  bottom: 1rem;
}

#alert.full-width {
  width: -webkit-fill-available;
  min-width: 15rem;
  max-width: 90rem;
}

#alert #alert-message {
  margin: 0;
  padding: 0;
  height: 3rem;
  display: flex;
  align-items: center;

  /* Text ellipsis */
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: auto;
}

#alert #alert-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

#alert #alert-icon i {
  width: 1.75rem;
  height: 1.75rem;
  flex-shrink: 0;
}

#alert.success #alert-icon {
  border: 1px solid var(--success-500);
  background: var(--white);
}

#alert.warning #alert-icon {
  border: 1px solid var(--warning-500);
  background: var(--white);
}

#alert.error #alert-icon {
  border: 1px solid var(--error-500);
  background: var(--white);
}

#alert.success #alert-icon i {
  background: var(--success-500);
}

#alert.warning #alert-icon i {
  background: var(--warning-500);
}

#alert.error #alert-icon i {
  background: var(--error-500);
}

#alert.dismiss {
  transform: translateY(-100vh);
  transition: all ease 0.5s;
}

#alert-portal.bottom_center #alert.dismiss {
  transform: translateY(100vh);
  transition: all ease 0.5s;
}

#alert.success {
  border: 1px solid var(--success);
  background: var(--success-50);
  color: var(--success-900);
}

#alert.warning {
  border: 1px solid var(--warning);
  background: var(--warning-50);
  color: var(--warning-900);
}

#alert.error {
  border: 1px solid var(--error);
  background: var(--error-50);
  color: var(--error-900);
}

@media screen and (min-width: 500px) {
  #alert {
    right: 0.75rem;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    min-width: 300px;
  }

  #alert #alert-message {
    max-width: 400px;
  }

  #alert.full-width {
    left: 50%;
    width: 90vw;
    max-width: 100rem;

    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media screen and (min-width: 768px) {
  #alert-portal.bottom_center #alert {
    bottom: 3rem;
  }

  #alert.full-width #alert-message {
    max-width: fit-content;
  }
}
