.checkbox {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.checkbox input {
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
  appearance: none;
  cursor: pointer;
  margin-right: 8px;
  background-image: url(/assets/icons/checkbox-unchecked.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.checkbox input:checked {
  background-image: url(/assets/icons/checkbox-checked.svg);
}

.checkbox label {
  cursor: pointer;
}