#hazard-comp {
  position: fixed;
  bottom: 25px;
  left: 0;
  width: 100vw;
}

.sb-cards-btn--back {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 6px;
  border: 1px solid var(--neutral-300);
  border-radius: 100px;
  background-color: var(--white);
  padding: 7px 15px 7px 5px;
  color: var(--neutral-900);
}

.sb-cards-btn--back::before {
  content: url(/assets/icons/chevron-left.svg);
}

.sb-cards-btn--back::after {
  margin-top: -1.5px;
  content: 'Back';
}

.sb-cards {
  margin: auto;
  padding-left: var(--padding-x);
  overflow: hidden;
}

.sb-cards-wrapper {
  grid-gap: 15px;
  grid-auto-flow: column;
  margin: auto;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  white-space: nowrap;
  white-space: nowrap;
}

.sb-cards-header {
  display: none;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.sb-label-title {
  color: var(--neutral-900);
  font-style: normal;
  font-weight: 600;
  font-size: var(--body-1-size);
  line-height: 1.6875rem
}

.sb-label-count {
  color: var(--neutral-500);
  font-style: normal;
  font-weight: 400;
  font-size: var(--body-3-size);
  line-height: 1.3125rem;
}

.sb-cards-wrapper::-webkit-scrollbar {
  display: none;
}

.sb-cards--item {
  display: inline-block;
  cursor: pointer;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--neutral-200);
  border-radius: 16px;
  background-color: var(--white);
  padding: 12px;
  width: 70vw;
  height: 200px;
  scroll-margin-right: 150px;
}

.sb-cards--item:last-of-type {
  margin-right: 16px;
}

.sb-card-header--box {
  border-radius: 12px;
  background-color: var(--neutral-100);
  padding: 8px;
}

.sb-card-header--txt {
  margin: 0;
}

.report-card__details p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sb-cards-info--box {
  margin-top: 16px;
  width: calc(100% - 24px);
}

#viewDetailsBtn {
  margin-top: 20px;
}

.sb-cards--gradient {
  display: none;
}

@media only screen and (min-width: 768px) {
  .sb-cards-header {
    display: flex;
  }

  #hazard-comp {
    position: absolute;
    top: 8.7rem;
    left: var(--padding-x);
    width: 410px;
  }

  .sb-cards-btn--back {
    display: flex;
    position: absolute;
    top: 0;
    right: -45px;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 2rem;
    height: 2rem;
  }

  .sb-cards-btn--back::before {
    content: '';
  }

  .sb-cards-btn--back {
    background-image: url(/assets/icons/close-square.svg);
    background-position: center center;
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
  }

  .sb-cards-btn--back::after {
    content: '';
  }

  .sb-cards {
    padding: 0;
  }

  .sb-cards-outer {
    position: relative;
    border-radius: 0.75rem;
    background-color: var(--white);
    padding: 1rem;
    width: calc(410px - 2rem);
    height: 22rem;
    overflow: hidden;
  }

  .sb-cards--gradient {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #FFF 0%, rgba(255, 255, 255, 0.00) 120.13%);
    width: calc(100% - 3rem);
    height: 4.8125rem;
    pointer-events: none;
  }

  .sb-cards-wrapper {
    grid-auto-flow: row;
    width: 100%;
    height: calc(100% - 3rem);
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  .sb-cards--item {
    width: calc(410px - 4rem - 16px);
    height: auto;
  }

  .sb-cards-wrapper .sb-cards--item:nth-last-child(1 of .sb-cards--item) {
    margin-bottom: 50px;
  }

  .sb-cards-wrapper::-webkit-scrollbar {
    display: block;
    width: 6px;
  }

  .sb-cards-wrapper::-webkit-scrollbar-track {
    background: var(--neutral-100);
  }

  .sb-cards-wrapper::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: var(--neutral-300);
  }

  .sb-cards-wrapper::-webkit-scrollbar-thumb:hover {
    background: var(--neutral-400);
  }
}