#hazard-card__container {
  width: 100%;
  height: 100%;
}

#hazard-card__outer {
  border-radius: 0.75rem 0.75rem 0 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 40vh;
  z-index: 3;
  transition: all 0.2s;
}

.report-card__top-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem;
}

.circle-border {
  display: flex;
  width: 2rem;
  height: 2rem;
  padding: 0.4rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6.25rem;
  border: 1px solid var(--neutral-neutral-300, #d0d5dd);
  background: var(--white, #fff);
}

.report-card__hazard-detail-buttons {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0.75rem;
  align-self: stretch;
  flex-wrap: wrap;
}

.report-card__user-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}

#user-image {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 6.25rem;
  object-fit: cover;
}

.draggable-thumb {
  width: 4.8125rem;
  height: 0.25rem;
  background: var(--neutral-neutral-300, #d0d5dd);
  border-radius: 0.125rem;
  cursor: grab;
}

.report-card__top-info {
  flex-grow: 0;
}

@media screen and (min-width: 768px) {
  .report-card__top-controls {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -45px;
    margin: 0;
    gap: 1.25rem;
  }

  .report-card__top-controls .circle-border {
    width: 2rem;
    height: 2rem;
    padding: 0;
  }

  #hazard-card__outer {
    width: 410px;
    position: absolute;
    border-radius: 0.75rem;
    top: 14.3rem;
    left: 5rem;
    height: 24rem;
  }

  .report-card__inner {
    overflow-y: auto;
  }

  .report-card__inner::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  .draggable-thumb {
    display: none;
  }

  .report-card__heading-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--white);
  }
}
