#hazard-card__container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#hazard-card__outer {
  position: fixed;
  bottom: 0;
  z-index: 3;
  transition: all 0.2s;
  border-radius: 0.75rem 0.75rem 0 0;
  width: 100%;
  height: 40vh;
}

.report-card__top-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem;
}

.circle-border {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--neutral-neutral-300, #d0d5dd);
  border-radius: 6.25rem;
  background: var(--white, #fff);
  padding: 0.4rem;
  width: 2rem;
  height: 2rem;
}

.report-card__hazard-detail-buttons {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  gap: 0.75rem;
}

.report-card__user-details {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 0.5rem;
}

#user-image {
  border-radius: 6.25rem;
  width: 1.75rem;
  height: 1.75rem;
  object-fit: cover;
}

.draggable-thumb {
  cursor: grab;
  border-radius: 0.125rem;
  background: var(--neutral-neutral-300, #d0d5dd);
  width: 4.8125rem;
  height: 0.25rem;
}

.report-card__top-info {
  flex-grow: 0;
}

.report-card__scroll-container {
  max-height: calc(100% - 80px);
}

@media screen and (min-width: 768px) {
  .report-card__top-controls {
    position: absolute;
    top: 0;
    right: -45px;
    flex-direction: column;
    gap: 1.25rem;
    margin: 0;
  }

  .report-card__top-controls .circle-border {
    padding: 0;
    width: 2rem;
    height: 2rem;
  }

  #hazard-card__outer {
    position: absolute;
    top: var(--hazard-container-top);
    left: var(--padding-x);
    border-radius: 0.75rem;
    max-width: var(--hazard-panel-width);
    width: 100%;
    height: fit-content;
    max-height: max-content;
  }

  .draggable-thumb {
    display: none;
  }

  .report-card__scroll-container {
    height: fit-content;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
  }

  .report-card__scroll-container::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}

@media screen and (min-height: 950px) and (min-width: 768px) {
  .report-card__scroll-container {
    max-height: max-content;
  }
}
