@import url(../css/notification-item.css);

header {
  background: var(--primary-900, #0f1815);
  border-bottom: 1px solid var(--neutral-200, #e4e7ec);
}

#header-content {
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#avatar {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 0.8rem;
}

i[class^='icon-notification'] {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--white);
}

.notification-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}

.notification-container .badge {
  position: absolute;
  background-color: var(--error-500);
  z-index: 10;
  width: 0.5rem;
  height: 0.5rem;
  top: 2px;
  right: 3px;
}

#header-menu {
  position: relative;
}

.header-menu__container {
  position: absolute;
  float: right;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-menu__container ul {
  border-radius: 0.5rem;
  border: 1px solid var(--neutral-200, #e4e7ec);
  background: var(--white, #fff);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  background-color: var(--white);
}

.header-menu__container ul li {
  padding: 1rem 0;
  color: var(--neutral-700);
}

.header-menu__container ul li a {
  text-decoration: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--neutral-700);
}

.header-menu__container ul li:not(:last-child) {
  border-bottom: 1px solid var(--neutral-200);
}

.header-menu__container ul li a:hover {
  color: var(--neutral-900);
  font-weight: 500;
}

#header-menu ul li i[class^='icon-'] {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--neutral-700);
}

.header-menu__container ul li a:hover i[class^='icon-'] {
  background-color: var(--neutral-900);
}

.header-menu__container__premium {
  border-radius: 0.3125rem;
  background: var(--neutral-100);
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.header-menu__container__premium p {
  font-size: 0.625rem;
}

@media screen and (min-width: 500px) {
  .header-menu__container {
    right: 0.2rem;
    left: unset;
    width: 13.25rem;
    margin-top: 0.3rem;
  }
}

@media screen and (min-width: 768px) {
  #header-content,
  #header-menu {
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);
  }

  .header-menu__container {
    margin-right: var(--padding-x);
  }
}
