.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.38rem;
  position: relative;
}

.form-field label {
  font-size: var(--body-2-size);
  letter-spacing: var(--body-2-letter-spacing);
  line-height: var(--body-2-line-height);
  color: var(--neutral-700);
}

.form-field input,
.form-field textarea {
  border-radius: 0.5rem;
  border: 1px solid var(--neutral-300);
  background: var(--white);
  box-shadow: var(--shadow-xs);
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  color: var(--neutral-800);
  caret-color: var(--accent-500);
  font-size: var(--body-2-size);
  letter-spacing: var(--body-2-letter-spacing);
  line-height: var(--body-2-line-height);
  width: 100%;
}

.form-field.large input,
.form-field.large textarea {
  padding: 9px 0.75rem;
  font-size: var(--body-2-large-size) !important;
  letter-spacing: var(--body-2-large-letter-spacing) !important;
  line-height: var(--body-2-large-line-height) !important;
}

.form-field input:focus-visible,
.form-field textarea:focus-visible {
  border: 1px solid var(--neutral-200);
  background: var(--white);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05), 0px 0px 0px 2px var(--primary-200);
  outline: none;
}

.form-field input:focus,
.form-field textarea:focus {
  border: 1px solid var(--neutral-500);
  background: var(--white);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.15);
}

.form-field input::placeholder,
.form-field textarea::placeholder {
  color: var(--neutral-400);
}

.form-field input:disabled,
.form-field textarea:disabled {
  border: 1px solid var(--neutral-300);
  background: var(--neutral-100);
}

.form-field .form-field__helper {
  font-size: var(--body-2-size);
  letter-spacing: var(--body-2-letter-spacing);
  line-height: var(--body-2-line-height);
  color: var(--neutral-400, #98a2b3);
}

.form-field .form-field__input-container {
  width: 100%;
  display: flex;
  position: relative;
}

.form-field.error input:not(:disabled),
.form-field.error textarea:not(:disabled) {
  border: 1px solid var(--error-500);
}

.form-field.error input:focus:not(:disabled),
.form-field.error textarea:focus:not(:disabled) {
  border: 1px solid var(--error-500);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05), 0px 0px 0px 2px #f2bcba;
}

.form-field.error .form-field__helper {
  color: var(--error-500);
}

.form-field.error .icon-exclamation-mark {
  width: 20px;
  height: 20px;
  background-color: var(--error-500);
  position: absolute;
  right: 0.75rem;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.form-field i[class^='icon-'] {
  background-color: var(--neutral-500);
  height: 20px;
  width: 20px;
}

.form-field.large i[class^='icon-'],
.form-field.large i[class^='icon-'] {
  height: 1.5rem;
  width: 1.5rem;
}

.form-field.with-icon {
  position: relative;
}

.form-field.with-icon i[class^='icon-'].right {
  position: absolute;
  right: 0.75rem;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.form-field.with-icon i[class^='icon-'].left {
  position: absolute;
  left: 0.75rem;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.form-field.with-icon i[class^='icon-'].right ~ input {
  padding-right: 2rem;
}

.form-field.with-icon i[class^='icon-'].left ~ input {
  padding-left: 2.5rem;
}
