.modal-filter {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  animation-duration: 0.5s;
  /* ANIMATION */
  animation-name: modalFilterAnimation;
  transition-timing-function: ease-in;
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
}

.modal-filter h3 {
  margin: 0;
  margin-top: 1rem;
  font-style: normal;
  line-height: 1.5rem;
}

#closeBtnDesktop {
  display: none;
}

.checkbox label {
  font-style: normal;
  line-height: 1.5rem
}

.modal-filter--wrapper-outer {
  margin-top: 116px;
  margin-bottom: 116px;
  height: calc(100% - 116px - 72px);
  overflow-y: auto;
  scroll-behavior: smooth;
}

.modal-filter--wrapper-inner {
  height: calc(100% + 450px);
}

.modal-filter--top {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white);
  padding: 20px 16px 0;
  width: calc(100% - 16px - 16px);
}

.modal-filter--close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--neutral-300);
  border-radius: 6.25rem;
  background-color: transparent;
  padding: 0;
  width: 2rem;
  height: 2rem;
}

.modal-filter--close-btn img {
  width: 1.25rem;
  height: 1.25rem;
}

.modal-filter--heading-box {
  border-bottom: 1px solid var(--neutral-300);
  padding-top: 18px;
  padding-bottom: 16px;
}

.modal-filter--heading-txt {
  margin: 0;
}

.modal-filter--catergories-wrapper-outer {
  margin: 0 16px;
  border-bottom: 1px solid var(--neutral-300);
  padding-bottom: 16px;
}

.modal-filter--catergories-wrapper-outer:last-of-type {
  border-bottom: none;
}

.modal-filter--categories-wrapper-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal-filter--bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
  width: 100%;
}

.modal-filter--bottom-wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: right;
  align-items: center;
  border-top: 1px solid var(--neutral-200);
  background: var(--neutral-50);
  width: 100%;
  height: 72px;
}

.modal-filter--clear-btn {
  margin-right: 16px;
  border: none;
  background-color: transparent;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

.modal-filter--show-btn {
  margin-right: 16px;
  cursor: pointer;
}

/* Scroller */
.modal-filter--wrapper-outer::-webkit-scrollbar {
  display: block;
  width: 6px;
  height: 6px;
}

.modal-filter--wrapper-outer::-webkit-scrollbar-track {
  background: var(--neutral-100);
}

.modal-filter--wrapper-outer::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: var(--neutral-300);
}

.modal-filter--wrapper-outer::-webkit-scrollbar-thumb:hover {
  background: var(--neutral-400);
}
/* Scroller */

@media only screen and (min-width: 768px) {
  .modal-filter {
    position: absolute;
    top: 14.3rem;
    left: 5rem;
    z-index: 4;
    animation: none;
    transition: none;
    border-radius: 0.75rem;
    padding: 1rem;
    width: calc(410px - 32px);
    height: 22rem;
  }

  .modal-filter--catergories-wrapper-outer {
    margin: 0;
    margin-right: 1rem;
  }

  #closeBtnDesktop {
    display: block;
    position: absolute;
    top: 0;
    right: -45px;
    cursor: pointer;
    border: 1px solid var(--neutral-300);
    border-radius: 6.25rem;
    background-image: url(/assets/icons/close-square.svg);
    background-position: center center;
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
    background-color: var(--white);
    padding: 0;
    width: 2rem;
    height: 2rem;
  }

  .modal-filter--top {
    display: none;
  }

  .modal-filter--wrapper-outer {
    margin: 0;
    height: calc(100% - 72px);
  }

  .modal-filter--bottom {
    position: absolute;
  }
  
  .modal-filter--bottom-wrapper {
    background-color: var(--white);
  }
}


@keyframes modalFilterAnimation {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
