.quick-filter {
  border-radius: 0.5rem;
  border: 1px solid var(--neutral-300, #d0d5dd);
  background: var(--white, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.15);
  display: inline-flex;
  padding: 0.5rem;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

.quick-filter:last-of-type {
  margin-right: 16px;
}

.quick-filter.quick-filter__name {
  color: var(--neutral-500);
}

.quick-filter .quick-filter__icon {
  background-color: var(--neutral-500);
  width: 1.25rem;
  height: 1.25rem;
}

.quick-filter.selected {
  border-radius: 0.5rem;
  background: var(--primary-900, #0f1815) !important;
  border-color: var(--primary-900, #0f1815) !important;
}

.quick-filter.selected .quick-filter__name {
  color: var(--white) !important;
}

.quick-filter.selected .quick-filter__icon {
  background-color: var(--white) !important;
}

.quick-filter:hover {
  border: 1px solid var(--neutral-500, #667185);
  background: var(--white, #fff);
}

.quick-filter:hover .quick-filter__name {
  color: var(--neutral-700);
}

.quick-filter:hover .quick-filter__icon {
  background-color: var(--neutral-700);
}

/* TODO: Styles for Desktop here */
