.report-card__outer {
  border-radius: 0.75rem;
  border: 1px solid var(--neutral-300, #d0d5dd);
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.05);
}

.report-card__inner {
  margin: 1rem;
}

.report-card__inner > div:not(:first-child):not(:last-child) {
  border-bottom: 1px solid var(--neutral-300, #d0d5dd);
  padding: 1rem 0;
}

.report-card__inner > div:nth-child(2) {
  padding-top: 0;
}

.report-card__inner > div:last-child {
  padding-top: 1rem;
}

.report-card__heading {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex: 1 0 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--neutral-100, #f0f2f5);
}

.report-card__heading__icon {
  background: var(--error-500);
  width: 24px;
  height: 24px;
}

.report-card__top-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.report-card__details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.report-card__date_time {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.report-card__spacer-line {
  margin: 1rem 0 1rem;
  border-bottom: 1px solid var(--neutral-300, #d0d5dd);
}

.report-card__my-reports-buttons {
  display: flex;
  justify-content: space-between;
}

.report-card__image-gallery {
  max-width: 100%;
}

.report-card__picture-container {
  display: flex;
  gap: 0.75rem;
  overflow: scroll;
}

.report-card__picture-container img {
  height: 5.125rem;
  border-radius: 0.25rem;
}

.report-card__my-reports-buttons .btn-tertiary {
  background: none;
  border: none;
}

.report-card__location-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.report-card__my-reports-buttons i.icon-edit {
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--neutral-600);
}
