.sb {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

.sb-wrapper-outer {
  padding-top: 18px;
}

.sb-search {
  padding-bottom: 18px;
  padding-inline: var(--padding-x);
}

.sb-search-box {
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 12px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.15);
  border: 1px solid var(--neutral-300);
  border-radius: 8px;
  background-color: var(--white);
  padding-right: 15px;
  width: calc(100% - 12px - 44px);
  height: 44px;
}

.sb-search-box .sb-search-box--icon {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background-color: var(--neutral-500);
}

.sb-search-box--input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-indent: 2px;
}

.sb-search-box--filter-btn {
  border: 1px solid var(--neutral-200);
  border-radius: 8px;
  background-color: var(--white);
  width: 44px;
  height: 44px;
  position: relative;
}

.sb-search-box--filter-btn.selected {
  border: 1px solid var(--neutral-900);
}

#hazardFilterCountTag {
  min-width: 22px;
  min-height: 22px;
  position: absolute;
  right: -15px;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 2px solid var(--white);
  color: var(--white);
  background: var(--neutral-900);
}

.sb-search-box--filter-btn .sb-search-box--filter-btn--icon {
  background-color: var(--neutral-500);
  display: inline-block;
  width: 20px;
  height: 20px;
}

.sb-suggestion {
  position: absolute;
  z-index: 1;
  top: 75px;
  width: calc(100% - 32px);
}

.sb-suggestion-wrapper {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--neutral-300);
  border: 1px solid var(--neutral-300);
  border-radius: 12px;
  border-radius: 12px;
  background-color: var(--white);
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: none;
  white-space: nowrap;
}

.sb-suggestion-item {
  padding-inline: 16px;
}

.sb-suggestion-item-wrapper .sb-suggestion-icon {
  margin-right: 10px;
  background-color: var(--neutral-500);
}

.sb-suggestion-txt--box {
  overflow: hidden;
}

.sb-suggestion-txt--box p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sb-suggestion-item-wrapper {
  display: flex;
  align-items: center;
  align-items: center;
  border-bottom: 1px solid var(--neutral-200);
  border-bottom: 1px solid var(--neutral-200);
  width: 100%;
  width: 100%;
  height: 74px;
  height: 80px;
  overflow: hidden;
  white-space: nowrap;
}

.sb-categories {
  padding-left: var(--padding-x);
}

.sb-categories-wrapper {
  -ms-overflow-style: none;
  overflow-x: auto;
  scrollbar-width: none;
  white-space: nowrap;
  display: flex;
  gap: 12px;
}

.sb-suggestion-wrapper::-webkit-scrollbar,
.sb-categories-wrapper::-webkit-scrollbar {
  display: none;
}

.sb-categories-btn {
  margin-right: 12px;
  margin-bottom: 1px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.15);
  border: 1px solid var(--neutral-300);
  border-radius: 8px;
  background-color: var(--white);
  padding: 8px;
}

.report-hazard-box {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.report-hazard-box-wrapper {
  margin: auto;
  padding-inline: var(--padding-x);
}

.btn-report-hazard {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .sb {
    top: 90px;
  }

  .sb,
  .sb-wrapper-outer {
    max-width: 500px;
  }

  .report-hazard-box,
  .report-hazard-box-wrapper,
  .btn-report-hazard {
    width: 248px;
    margin: 0;
  }

  .sb-wrapper-inner {
    padding: 0;
    width: 490px;
  }

  .sb-suggestion-wrapper {
    width: calc(490px - 12px - 44px);
  }

  .report-hazard-box {
    position: absolute;
    bottom: 60px;
    left: 0;
  }

  .sb-suggestion {
    margin: auto;
  }

  .sb-search {
    padding-right: 0;
  }

  .sb-categories-wrapper {
    margin: auto;
  }
}
