@import url(../../assets/css/hazard-card.css);
@import url(../../assets/css/modal-filter.css);
@import url(../../assets/css/searchbar.css);
@import url(../../assets/css/quick-filter.css);
@import url(../../assets/css/map-controls.css);

body {
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}

#search-bar {
  position: relative;
  width: 100%;
}

#map {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}
