@import url(../../assets/css/hazard-card.css);
@import url(../../assets/css/modal-filter.css);
@import url(../../assets/css/searchbar.css);
@import url(../../assets/css/quick-filter.css);

body {
  position: relative;
  overflow: hidden;
}

/* header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: none;
  background-color: transparent;
  width: 100%;
} */

#search-bar {
  width: 100%;
  position: relative;
}

#header-content {
  border-bottom: 1px solid var(--neutral-200, #e4e7ec);
  background: var(--primary-900);
}

#root {
  position: relative;
  margin: 0;
  max-width: max-content;
}

#map {
  width: 100vw;
  height: 100vh;
}

.btn-report-hazard {
  z-index: 2;
}
