@import url(../../assets/css/hazard-card.css);
@import url(../../assets/css/modal-filter.css);
@import url(../../assets/css/searchbar.css);

body {
	overflow: hidden;
}

#root {
	position: relative;
}

#map {
	width: 100vw;
	height: 100vh;
}

.btn-report-hazard {
	z-index: 2;
}
