#resetPwPopup {
	z-index: 10;
	position: fixed;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	background-color: white;
}

#deleteAccountConfirm {
	z-index: 11;
	position: fixed;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	background-color: white;
}

#fileDropWrapper {
	border: 1px solid blue;
	width: 300px;
	height: 100px;
}

img {
	width: 60px;
	height: 60px;
}
