h1 {
  text-align: center;
}
h2,
h3 {
  margin: 0;
}

#dropdownMenu {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  font-size: var(--body-1-large-size);
  letter-spacing: var(--body-1-large-letter-spacing);
  line-height: var(--body-1-large-line-height);
  font-weight: 500;
  color: var(--neutral-neutral-900, #101928);
  background: var(--secondary-secondary-200, #edf4f2);
  border: 1px solid var(--neutral-200, #e4e7ec);
}

option {
  font-size: var(--body-1-large-size);
  letter-spacing: var(--body-1-large-letter-spacing);
  line-height: var(--body-1-large-line-height);
  font-weight: 400;
  color: var(--neutral-neutral-500, #667185);
  background: var(--white, #fff);
}

.account-settings__side-menu {
  display: none;
}

main section {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--neutral-200, #e4e7ec);
  background: var(--white, #fff);
}

.account-settings__profile-picture {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.account-settings__profile-picture-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-notification-no {
  display: block;
}

#profilePhoto {
  width: 3.5rem;
  height: 3.5rem;
  clip-path: circle(50% at 50% 50%);
}

.account-settings__notifications-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
}

#sideMenu {
  display: none;
  width: 18.875rem;
  height: fit-content;
  padding: 1.5rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--neutral-200, #e4e7ec);
  background: var(--white, #fff);
}

.account-settings__menu-btn {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
  font-size: var(--body-1-large-size);
  letter-spacing: var(--body-1-large-letter-spacing);
  line-height: var(--body-1-large-line-height);
  font-weight: 400;
  color: var(--neutral-500, #667185);
  text-decoration: none;
  transition: background-color 0.3s;
}

.account-settings__menu-btn:hover {
  background-color: var(--neutral-100, #f0f2f5);
}

.account-settings__menu-btn.active {
  background: var(--secondary-200, #edf4f2);
  color: var(--neutral-900, #101928);
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  main {
    padding-top: 10.75rem;
  }

  #dropdownMenu {
    display: none;
  }

  #sideMenu {
    display: flex;
  }

  .account-settings__menu {
    display: flex;
  }

  .account-settings__wrapper {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: auto;
  }

  .account-settings_content {
    width: 32.4375rem;
  }

  .form-field input {
    width: 20.375rem;
  }
}

@media screen and (min-width: 1440px) {
  main {
    max-width: 1440px;
    margin: auto;
  }
}
