<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" type="image/x-icon" href="../../assets/img/icons/logo-square.png" />

  <link rel="stylesheet" href="../../assets/css/_global.css" />

  <!-- Notifications JS -->
  <script src="https://js.pusher.com/beams/1.0/push-notifications-cdn.js"></script>
  <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
  <!-- End Notifications JS -->

  <script src="../../global.js" defer type="module"></script>

  <title>Components</title>

  <style>
    body {
      display: flex;
      overflow-y: hidden;
    }

    nav {
      width: 200px;
      overflow-y: auto;
      height: 100vh;
    }

    h1 {
      color: var(--success-700);
    }

    h3 {
      margin-bottom: 0;
    }

    main {
      overflow-y: auto;
      padding-bottom: 50px;
      width: 100%;
    }

    section>section {
      padding-left: 3rem;
    }

    [id='input-section']>section,
    [id='textarea-section']>section {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 300px;
    }

    [id='input-section']>section>h3,
    [id='textarea-section']>section>h3 {
      padding-top: 1rem;
    }

    @keyframes spin {
      100% {
        transform: rotate(-360deg)
      }
    }
  </style>

  <script>
    if (window.location.href.includes('https')) {
      // redirect user to view hazard screen
      // window.location.replace("/pages/home");
    }
  </script>
</head>

<body>
  <nav>
    <ul>
      <li><a href="#button-section">Button</a></li>
      <li><a href="#input-section">Input</a></li>
      <li><a href="#textarea-section">Textarea</a></li>
      <li><a href="#message-section">Message</a></li>
      <li><a href="#modal-section">Modal</a></li>
      <li><a href="#alert-section">Alert</a></li>
    </ul>
  </nav>
  <main id="main">
    <h1>Components</h1>

    <section id="button-section">
      <h2>Button</h2>

      <section>
        <h3>Default</h3>

        <button class="btn btn-primary">Primary</button>
        <button class="btn btn-secondary">Secondary</button>
        <button class="btn btn-success">Button</button>
        <button class="btn btn-warning">Warning</button>
        <button class="btn btn-error">Error</button>

        <h3>With Icon</h3>
        <button class="btn btn-primary">
          Primary
          <span class="btn__icon">
            <i class="icon-arrow-right"></i>

          </span>
        </button>

        <button id="action-button" class="btn btn-primary btn-action">
          Action Button
          <span class="btn__icon">
            <i class="icon-arrow-right main-icon"></i>

            <div class="loading-finished-icon hidden">
              <i class="icon-checkmark"></i>

            </div>
            <div class="btn__icon__loader" style="font-size: 3px;">
              <div class="spinner"></div>
            </div>
          </span>
        </button>

        <button id="action-button" class="btn btn-primary btn-action">
          Action Button
          <span class="btn__icon">
            <i class="icon-arrow-right main-icon"></i>

            <div class="loading-finished-icon hidden">
              <i class="icon-checkmark"></i>

            </div>
            <div class="btn__icon__loader" style="font-size: 3px;">
              <div class="spinner"></div>
            </div>
          </span>
        </button>

        <script type="module">
          import { showButtonLoading, stopButtonLoading } from '../../assets/helpers/set-action-button.js';
          const actionButton = document.getElementById('action-button')

          actionButton.addEventListener('click', () => {
            showButtonLoading('action-button');


            setTimeout(() => {
              stopButtonLoading('action-button', { reset: true })
            }, 1500)
          })
        </script>
        <button class="btn btn-secondary">
          <i class="icon-check"></i>
          Secondary
        </button>
        <button class="btn btn-success">
          Button <i class="icon-check"></i>
        </button>
        <button class="btn btn-warning">
          Warning <i class="icon-check"></i>
        </button>
        <button class="btn btn-error">
          Error <i class="icon-check"></i>
        </button>

        <h3>Disabled</h3>

        <button class="btn btn-primary" disabled>Primary</button>
        <button class="btn btn-secondary" disabled>Secondary</button>
        <button class="btn btn-success" disabled>Button</button>
        <button class="btn btn-warning" disabled>Warning</button>
        <button class="btn btn-error" disabled>Error</button>
      </section>
    </section>

    <section id="input-section">
      <h2>Input</h2>

      <section>
        <h3>Default</h3>
        <div class="form-field">
          <label> Label </label>
          <div class="form-field__input-container">
            <input type="text" placeholder="name@email.com" />
          </div>

          <span class="form-field__helper">This is a helper message.</span>
        </div>

        <div class="form-field">
          <label> Label </label>
          <div class="form-field__input-container">
            <input type="text" value="mikewillson@gmail.com" />
          </div>
          <span class="form-field__helper">This is a helper message.</span>
        </div>

        <div class="form-field">
          <label> Label </label>
          <div class="form-field__input-container">
            <textarea type="text" placeholder="name@email.com"></textarea>
          </div>

          <span class="form-field__helper">This is a helper message.</span>
        </div>

        <h3>Disabled</h3>

        <div class="form-field">
          <label> Label </label>
          <div class="form-field__input-container">
            <input type="text" placeholder="name@email.com" disabled />
          </div>

          <span class="form-field__helper">This is a helper message.</span>
        </div>

        <div class="form-field">
          <label> Label </label>
          <div class="form-field__input-container">
            <input type="text" value="mikewillson@gmail.com" disabled />
          </div>
          <span class="form-field__helper">This is a helper message.</span>
        </div>

        <h3>Error</h3>

        <div class="form-field error">
          <label> Label </label>
          <div class="form-field__input-container">
            <input type="text" placeholder="name@email.com" />
          </div>
          <span class="form-field__helper">This is an error message.</span>
        </div>

        <div class="form-field error">
          <label> Label </label>
          <div class="form-field__input-container">
            <input type="text" value="mikewillson@gmail.com" />
          </div>
          <span class="form-field__helper">This is an error message.</span>
        </div>

        <h3>With Icon</h3>

        <div class="form-field with-icon">
          <label> Label </label>
          <div class="form-field__input-container">
            <i class="icon-search left"></i>
            <input type="text" placeholder="name@email.com" />
          </div>
        </div>

        <div class="form-field with-icon">
          <label> Label </label>
          <div class="form-field__input-container">
            <i class="icon-search right"></i>
            <input type="text" value="mikewillson@gmail.com" />
          </div>
        </div>
      </section>
    </section>

    <section id="textarea-section">
      <h2>Textarea</h2>

      <section>
        <h3>Default</h3>

        <div class="form-field">
          <label> Label </label>
          <div class="form-field__input-container">
            <textarea type="text" placeholder="Type something here..."></textarea>
          </div>

          <span class="form-field__helper">This is a helper message.</span>
        </div>

        <div class="form-field">
          <label> Label </label>
          <div class="form-field__input-container">
            <textarea type="text">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae inventore, saepe cum corrupti ullam numquam officia sapiente soluta mollitia animi?
                        </textarea>
          </div>

          <span class="form-field__helper">This is a helper message.</span>
        </div>

        <h3>Disabled</h3>

        <div class="form-field">
          <label> Label </label>
          <div class="form-field__input-container">
            <textarea type="text" placeholder="Type something here..." disabled></textarea>
          </div>

          <span class="form-field__helper">This is a helper message.</span>
        </div>

        <div class="form-field">
          <label> Label </label>
          <div class="form-field__input-container">
            <textarea type="text" disabled>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae inventore, saepe cum corrupti ullam numquam officia sapiente soluta mollitia animi?
                        </textarea>
          </div>

          <span class="form-field__helper">This is a helper message.</span>
        </div>

        <h3>Error</h3>

        <div class="form-field error">
          <label> Label </label>
          <div class="form-field__input-container">
            <textarea type="text" placeholder="Type something here..."></textarea>
          </div>
          <span class="form-field__helper">This is an error message.</span>
        </div>

        <div class="form-field error">
          <label> Label </label>
          <div class="form-field__input-container">
            <textarea type="text">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, soluta!</textarea>
          </div>
          <span class="form-field__helper">This is an error message.</span>
        </div>

      </section>
    </section>

    <section id="message-section">
      <h2>Message</h2>

      <div class="message error">
        <i class="icon-flag message__icon"></i>
        <p class="message__content text-body-3 medium">This report has been reported as fake.</p>
      </div>
    </section>

    <section id="modal-section">
      <h2>Modal</h2>

      <section>
        <h3>Default</h3>

        <button id="open-modal-btn" class="btn btn-primary">
          Open Modal
        </button>
        <script type="module">
          import Modal from '../../assets/components/Modal.js';
          const openModalBtn = document.getElementById('open-modal-btn');

          openModalBtn.addEventListener('click', () => {
            const modal = new Modal();

            const closeModal = () => {
              console.log('closing modal');
              modal.close();
            };
            const button = document.createElement('button');
            button.setAttribute('id', 'open-modal-btn');
            button.setAttribute('class', 'btn btn-primary');
            button.addEventListener('click', closeModal);
            button.innerHTML = 'Continue Exploring';

            modal.show({
              title: 'Your report has been submitted!',
              description:
                'Thank you for helping others have a safe camping experience.',
              icon: { name: 'icon-check', color: '#000000', size: '3.5rem' },
              actions: button, // '<button id="open-modal-btn" class="btn btn-primary">Continue Exploring</button>',
              enableOverlayClickClose: true,
            });
          });
        </script>
      </section>
    </section>

    <section id="alert-section">
      <h2>Alert</h2>

      <section>
        <h3>Default</h3>

        <button id="open-success-alert-btn" class="btn btn-success">
          Open Success Alert
        </button>
        <button id="open-warning-alert-btn" class="btn btn-warning">
          Open Warning Alert
        </button>
        <button id="open-error-alert-btn" class="btn btn-error">
          Open Error Alert
        </button>

        <script type="module">
          import AlertPopup from '../../assets/components/AlertPopup.js';

          const successBtn = document.getElementById(
            'open-success-alert-btn'
          );
          const warningBtn = document.getElementById(
            'open-warning-alert-btn'
          );
          const errorBtn = document.getElementById('open-error-alert-btn');

          successBtn.addEventListener('click', () => {

            AlertPopup.show('Hello there!');
          });

          warningBtn.addEventListener('click', () => {

            AlertPopup.show(
              'Warning with 5 seconds delay!',
              AlertPopup.warning,
              5000
            );
          });

          errorBtn.addEventListener('click', () => {

            AlertPopup.show(
              AlertPopup.SOMETHING_WENT_WRONG_MESSAGE,
              AlertPopup.error
            );
          });
        </script>
      </section>
    </section>
  </main>
</body>

</html>